.tronald {
    display: flex;
    justify-content: center;
    height: 400px; 

    &__dump {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }

    &__img {
        margin-top: 20px; 
        width: 33%; 
        height: auto; 
    }

    &__quote {
        transform-origin: 0% 100%;
        text-align: center;
        background-color: #5a5a5a;
        color: white;
        border-radius: 10px;
        width: 50%;
        padding: 10px;
    }
}

@include medium {
    .tronald { 
        &__quote {
            width: 30%; 
        }
    }
}

@include large {
    .tronald {
    }
}